{% extends "base.html" %}

{% block content %}

	<h3>Initial Connections</h3>

	<div class="table-responsive">
		<table class="table table-condensed table-hover">
			<tr>
				<th>Source IP</th>
				<th>Destination IP</th>
				<th>Destination Port</th>
				<th>Last Seen</th>
				<th>Attempts</th>
				<th>Options</th>
			</tr>
			{% for conn in connects%}
			<tr>
				<td>{{ conn.attacker_ip }}</td>
				<td>{{ conn.victim_ip }}</td>
				<td>{{ conn.victim_port }}</td>
				<td>{{ conn.last_seen }}</td>
				<td>{{ conn.count }}</td>
				<td><a href="{% url 'initial_details' connection_id=conn.id %}"><span class="glyphicon glyphicon-search"></span></a></td>
			</tr>
			{% endfor%}
		</table>
	</div>


	<div class="pagination">
		<span class="step-links">
			{% if connects.has_previous %}
				<a href="?page={{ connects.previous_page_number }}">previous</a>
			{% endif %}
			<span class="current">
				Page {{ connects.number }} of {{ connects.paginator.num_pages }}.
			</span>
			{% if connects.has_next %}
				<a href="?page={{ connects.next_page_number }}">next</a>
			{% endif %}
		</span>
	</div>

{% endblock %}
